<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-default">
      <p class="text-center"><br><img src="assets/img/ford.png" class="rounded float-right" width="120"><br><br>
      <font size="5"><b>{{ title }}</b></font></p>
    </nav>
  </div>

  <div class="container">
  <h2>Ford COVID-19 Screening Attestation<br><br></h2>
  <blockquote>The safety of our employees, supplier partners, customers, families and visitors remain Ford’s overriding priority. As the coronavirus disease 2019 (COVID-19) outbreak continues to evolve and spreads globally, Ford Medical and Security are monitoring the situation closely and will periodically update company guidance based on current recommendations from the Centers for Disease Control and Prevention and the World Health Organization.
  <br><br>
  Based on currently available information and clinical expertise, older adults and people of any age who have serious underlying medical conditions (e.g. serious heart disease, chronic lung disease or asthma, immunocompromised, severe liver disease, etc.) might be at higher risk for severe illness from COVID-19. If you are concerned about underlying medical conditions, please consult with your personal medical health care provider before returning to work.
  <br><br>
  To prevent the spread of COVID-19 and reduce the potential risk of exposure to our workforce, we are conducting a simple screening. Your participation is important to help us take precautionary measures to protect you and everyone in this facility. We request you complete this screening everyday prior to entering a Ford facility. Based on your response, you will be informed if you should report to work. Thank you for your time.
  <br></blockquote>
  </div>
  
  <router-outlet></router-outlet>

</div>